* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#000587;
    margin:auto;
    padding-left:100px;
    padding-top:50px;
}

.box {
    background-color: white;
    color: #000587;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
		"lorem culpa officia officia"
		"lorem mollit mollit fugiat"
		"exercitation magna laboris fugiat"
		"ullamco ullamco laboris consetectur"
		"pariatur dolore dolore excepteur";
    
}

.box:nth-child(1){
    grid-area: lorem;
}

.box:nth-child(2){
    grid-area: culpa;
}

.box:nth-child(3){
    grid-area: officia;
}

.box:nth-child(4){
    grid-area: mollit;
}

.box:nth-child(5){
    grid-area: fugiat;
}

.box:nth-child(6){
    grid-area: exercitation;
}

.box:nth-child(7){
    grid-area: magna;
}

.box:nth-child(8){
    grid-area: laboris;
}

.box:nth-child(9){
    grid-area: ullamco;
}

.box:nth-child(10){
    grid-area: consetectur;
}

.box:nth-child(11){
    grid-area: pariatur;
}

.box:nth-child(12){
    grid-area: dolore;
}

.box:nth-child(13){
    grid-area: excepteur;
}

h1 {
    color:white;
    font-weight:100;
    font-size:large;
}

